<%inherit file="base.htm" />

<%block name="top_content">
   <br /><br /><br /><br /><br /><br />
   <h1 class="text-center">How would you rate your experience in secondary education?</h1>
   <br />
   <div class="row"id="star_div">
      <div class="star_wrap"><i class="far fa-star fa-2x"></i></div>
      <div class="star_wrap"><i class="far fa-star fa-2x"></i></div>
      <div class="star_wrap"><i class="far fa-star fa-2x"></i></div>
      <div class="star_wrap"><i class="far fa-star fa-2x"></i></div>
      <div class="star_wrap"><i class="far fa-star fa-2x"></i></div>
   </div>


</%block>
