#star_div {
   margin: 0 auto;
   width: 300px;
}
.star_wrap{
   padding: 0 10px;
}
textarea {
   resize: none;
}
.btn {
      float: right;
      margin: 4em 1em 0 0;
}

hr {
   /* background-color: #FF568BC7; */
   background-color: #8BB5DF;

}
.hr_half {
   margin: .5em 0;
}
